﻿<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title>Full Screen Mario</title>
    <meta name="keywords" content="fullscreenmario, full, screen, mario, javascript, html5, gaming, online, online game, fun, distraction" />
    <meta name="description" content="FullScreenMario is a free HTML5 remake of Nintendo's original Super Mario Bros. Play it here!" />

    <!-- build:css index.min.css -->
    <link href="index.css" rel="stylesheet" />
    <!-- /build -->

    <link rel="shortcut icon" href="Theme/Mario.gif">
</head>

<body>
    <header>
        <img src="Theme/Header.gif" alt="FullScreenMario.com" />
        <div id="header-right">
            <a class="hoverable" target="_blank" href="https://twitter.com/FullScreenMario">
                <img id="twitter" src="Theme/Twitter.png" alt="Twitter" />
            </a>
            <a class="hoverable" target="_blank" href="https://github.com/FullScreenShenanigans/FullScreenMario">
                <img id="github" src="Theme/Github.png" alt="Github" />
            </a>
            <a class="hoverable" target="_blank" href="https://facebook.com/FullScreenMario">
                <img id="facebook" src="Theme/Facebook.png" alt="Facebook" />
            </a>
        </div>
    </header>

    <section id="game">
        <!-- FSM.UserWrapper will fill out this section... -->
    </section>

    <section id="controls">
        <!-- FSM.UserWrapper will fill out this section... -->
    </section>

    <section id="explanation" class="section-text">
        FullScreenMario is a free HTML5 remake of Nintendo's original Super Mario Bros.
        It includes the original 32 levels, a random map generator, a <!-- social --> level editor, and over a dozen custom mods.
    </section>

    <section id="social" class="section-text">
        You may <a class="link-github" href="http://www.github.com/FullScreenShenanigans/FullScreenMario">download the game for yourself</a> from GitHub, the location of Full Screen Mario's open source project.
        Be sure to get the latest news on our <a class="link-facebook" href="http://www.facebook.com/FullScreenMario">Facebook</a> and <a class="link-twitter" href="http://www.twitter.com/FullScreenMario">Twitter</a> too!
    </section>

    <section id="credits" class="section-text">
        FullScreenMario was made possible first and foremost by Nintendo, who originally created Mario and has since maintained the series.
        It would also not have been possible without the dedicated efforts of the Mario fan community over the past three decades, in particular <a href="http://www.themushroomkingdom.net/">themushroomkingdom.net</a>.
    </section>

    <section id="hangar96" class="section-text">
        <a href="http://marathon.sourceforge.net" alt="Escape will make me god.">
            <img class="hoverable" src="Theme/Aleph One.png" />
        </a>
    </section>

    <section id="legal" class="section-text">
        <small><em>Mario, Super Mario Brothers, and all associated games and media are property of Nintendo and/or Nintendo of America Inc., and are protected by United States and international copyright, trademark and other intellectual property laws.</em></small>
    </section>

    <!-- build:template
    <script src="FullScreenMario-<%= version %>.min.js"></script>
    /build -->
    <!-- build:remove -->
    <script src="References/GameStartr-0.2.0.js" type="text/javascript"></script>
    <script src="FullScreenMario.js" type="text/javascript"></script>
    <script src="settings/audio.js" type="text/javascript"></script>
    <script src="settings/collisions.js" type="text/javascript"></script>
    <script src="settings/devices.js" type="text/javascript"></script>
    <script src="settings/editor.js" type="text/javascript"></script>
    <script src="settings/generator.js" type="text/javascript"></script>
    <script src="settings/groups.js" type="text/javascript"></script>
    <script src="settings/events.js" type="text/javascript"></script>
    <script src="settings/input.js" type="text/javascript"></script>
    <script src="settings/maps.js" type="text/javascript"></script>
    <script src="settings/mods.js" type="text/javascript"></script>
    <script src="settings/objects.js" type="text/javascript"></script>
    <script src="settings/quadrants.js" type="text/javascript"></script>
    <script src="settings/renderer.js" type="text/javascript"></script>
    <script src="settings/runner.js" type="text/javascript"></script>
    <script src="settings/sprites.js" type="text/javascript"></script>
    <script src="settings/statistics.js" type="text/javascript"></script>
    <script src="settings/touch.js" type="text/javascript"></script>
    <script src="settings/ui.js" type="text/javascript"></script>
    <!-- /build -->
    <!-- build:js index.min.js -->
    <script src="index.js" type="text/javascript"></script>
    <!-- /build -->
</body>
</html>
